.my-card-body{
  height: calc( 100vh - (55px + 48px) );
}
/* ellipseを当てると1行になる */
.elipsis{
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width:768px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .my-card-body{
    height: auto;
    max-height: 50vh;
  }
}